<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <${"${namespace?cap_first}_${name?cap_first}"}>
            <version>${version}</version>
        </${"${namespace?cap_first}_${name?cap_first}"}>
    </modules>
    <global>
        <#if withResource>
        <resources>
            <${"${namespace}_${name}"?lower_case}_setup>
                <setup>
                    <module>${"${namespace?cap_first}_${name?cap_first}"}</module>
                    <class>${"${namespace?cap_first}_${name?cap_first}"}_Model_Resource_Setup</class>
                </setup>
            </${"${namespace}_${name}"?lower_case}_setup>
        </resources>        
        </#if>
        <helpers>
            <${"${namespace}_${name}"?lower_case}>
                <class>${"${namespace?cap_first}_${name?cap_first}"}_Helper</class>
            </${"${namespace}_${name}"?lower_case}>
        </helpers>
        <models>
            <${"${namespace}_${name}"?lower_case}>
                <class>${"${namespace?cap_first}_${name?cap_first}"}_Model</class>
            </${"${namespace}_${name}"?lower_case}>
        </models>
        <blocks>
            <${"${namespace}_${name}"?lower_case}>
                <class>${"${namespace?cap_first}_${name?cap_first}"}_Block</class>
            </${"${namespace}_${name}"?lower_case}>
        </blocks>
    </global>
</config>